# Django settings
DJANGO_SETTINGS_MODULE=itemyze.settings.prod
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=backend,frontend

# Node settings
NODE_ENV=production

# Logging
LOG_DIR=logs

# Database path
SQLITE_PATH=/app/db_data/db.sqlite3

# Splitwise API Config
SW_API_KEY=
SW_API_SECRET=
SW_TOKEN_URL=

# Tesseract Config
TESSERACT_PATH=/usr/bin/tesseract
TESSERACT_CONF='--oem 3 --psm 6'

# Domain for Nginx config
SERVER_NAME=