# Django settings
DJANGO_SETTINGS_MODULE=itemyze.settings.dev
DEBUG=True
SECRET_KEY=Development-Key
ALLOWED_HOSTS=backend,localhost,127.0.0.1

# Node settings
NODE_ENV=development
FAST_REFRESH=true
CHOKIDAR_USEPOLLING=true
CHOKIDAR_INTERVAL=1000
WATCHPACK_POLLING=true

# Logging
LOG_DIR=logs

# Database path
SQLITE_PATH=/app/db_data/db.sqlite3

# Splitwise API Config
SW_API_KEY=
SW_API_SECRET=
SW_TOKEN_URL=

# Tesseract Config
TESSERACT_PATH=/usr/bin/tesseract
TESSERACT_CONF='--oem 3 --psm 6'