.frame-content {
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.backdrop-card {
    width: 70%;
    padding: 10px;
}

.overlay {
    z-index: 6;
}

#item-list {
    padding: 0.5% 1%;
    overflow-y: auto;
}

#header {
    position: sticky;
    top: 0;
    z-index: 5;
}

#header-back {
    position: absolute;
    left: 0;
}